<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Restore password</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="restoreForm">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="restoreForm.controls['login'].dirty && restoreForm.hasError('required','login')">
                                    <span class="fa fa-user p-2"></span> 
                                    <input formControlName="login" type="text" placeholder="Username"> 
                                </div>
                            </div>
                            <small *ngIf="restoreForm.controls['login'].dirty && restoreForm.hasError('required','login')" class="text-danger">*Username is required*</small>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="restoreForm.controls['codeword'].dirty && restoreForm.hasError('required','codeword')">
                                    <span class="fa fa-lock p-2"></span> 
                                    <input formControlName="codeword" [type]="typeCodeword" placeholder="Codeword">
                                    <span (click)="hideShowCodeword()" class="fa {{eyeIconCodeword}}"></span>
                                </div>
                            </div>
                            <small *ngIf="restoreForm.controls['codeword'].dirty && restoreForm.hasError('required','codeword')" class="text-danger">*Codeword is required*</small>                            
                            <button (click)="onRestore()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Restore</button>
                            <div class="text-center pt-4 text-muted">Return to login page? <a id="forget" routerLink="/authoriz">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>