<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-2 shadow">
  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="/projects" class="nav-link px-2 link-white">Projects</a></li>
    <li><a href="/sprints" class="nav-link px-2 link-white">Sprints</a></li>
    <li><a href="/tasks" class="nav-link px-2 link-white">Tasks</a></li>
    <li><a href="/users" class="nav-link px-2 link-white">Users</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <button type="button" class="btn btn-outline-primary me-2" (click)="logout()">Logout</button>
  </div>
</header>

  <app-show-sprint></app-show-sprint>
